
<p class="byline lato new-site">Our new site has launched!</p>
<p class="cta trade"><a href="http://www.aletclar.com">( VISIT NOW )</a></p>

<!-- <p class="byline trade">BE THE FIRST TO KNOW</p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "Enter Email", :class => "email lato" %>
  <input class="submit lato" name="commit" type="submit" value=">" />
  <p class="ip_exceeded lato">Submissions via your IP address has reached a maximum. Please try again at another location.</p> -->
<% end %>