<p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH CAMPAIGN.</p>
<p class="compiling brandon">WE ARE COMPILING YOUR TREATS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
<p class="go-to brandon">In the meantime, head to  <a href="http://www.aletclar.com/">WWW.ALETCLAR.COM</a></p>
<p class="again brandon">Thank You Again!</p>